
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <include href="includes/header.html"></include>
</head>
<body>
<include href="includes/navBar.html"></include>

<!-- display the recipe -->
<p class="card mb-0 ml-3 mt-3 p-2">Recipe: {{ $results['recipeName'] }}</p>
<p class="card mb-0 ml-3 mt-3 p-2">Submitted by: {{ $results['firstName'] }} {{ $results['lastName'] }}</p>
<!-- If Premium member has profile photo display that  -->
<div class="col-6">
    <check if="{{ !empty($results['imageId']) }}">
        <true>
            <img class="img-fluid rounded m-2 p-2" src="../../uploader/uploads/{{ @filename }}" alt="image">
        </true>
        <false>
            <img class="img-fluid rounded m-2 p-2" src="images/homePageImage.png" alt="image">
        </false>
    </check>

<p class="card mb-0 ml-3 mt-3 p-2">Description: {{ $results['description'] }}</p>

<ul class="card mb-0 ml-3 mt-3 p-2">Ingredients:
    <repeat group="{{ @ingArray }}" value="{{ @ingredient }}">
        <li class="card mb-0 ml-1 mt-1 p-1">{{ @ingredient }}</li>
    </repeat>
</ul>

<ul class="card mb-0 ml-3 mt-3 p-2">Directions:
    <repeat group="{{ @dirArray }}" value="{{ @direction }}">
        <li class="card mb-0 ml-1 mt-1 p-1">{{ @direction }}</li>
    </repeat>
</ul>

<include href="includes/footer.html"></include>
<!-- add data table scripts -->
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    $('#recipes').DataTable();
</script>
</body>
</html>
