<!--
  Lewis Scott
  5/17/20
  filename https://lscott.greenriverdev.com/328/recipes/views/recipe.html
  Recipe page
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe</title>
    <include href="includes/header.html"></include>
</head>
<body>
<include href="includes/navBar.html"></include>

<!-- display the recipe -->
<p class="card mb-0 ml-3 mt-3 p-2">Recipe: {{ $results['recipeName'] }}</p>
<p class="card mb-0 ml-3 mt-3 p-2">Submitted by: {{ $results['firstName'] }} {{ $results['lastName'] }}</p>
<p class="card mb-0 ml-3 mt-3 p-2">Description: {{ $results['description'] }}</p>

<!-- If recipe has photo display that  -->
<check if="{{ !empty($results['imageId']) }}">
    <true>
        <img class="card img-fluid rounded m-2 p-2" src="../../uploader/uploads/{{ @filename }}" alt="image">
    </true>
</check>

<div class="card mb-0 ml-3 mt-3 p-2">
    <p>Ingredients:</p>
    <ul>
        <repeat group="{{ @ingArray }}" value="{{ @ingredient }}">
            <li class="card mb-0 mt-1 p-1">{{ @ingredient }}</li>
        </repeat>
    </ul>
</div>

<div class="card mb-0 ml-3 mt-3 p-2">
    <p>Directions:</p>
    <ul>
        <repeat group="{{ @dirArray }}" value="{{ @direction }}">
            <li class="card mb-0 mt-1 p-1">{{ @direction }}</li>
        </repeat>
    </ul>
</div>


<form action="{{ @BASE }}/recipes" method="get">
    <button class="btn btn-primary text-center m-3" type="submit">Recipes</button>
</form>
<!--<a href="{{ @BASE }}/recipes" class="btn-primary float-left rounded m-2">Recipes</a>-->

<include href="includes/footer.html"></include>
<!-- add data table scripts -->
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    $('#recipes').DataTable();
</script>
</body>
</html>
