
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <include href="includes/header.html"></include>
</head>
<body>
<include href="includes/navBar.html"></include>


<h1>This is where my recipe goes</h1>


<include href="includes/footer.html"></include>
<!-- add data table scripts -->
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    $('#recipes').DataTable();
</script>
</body>
</html><?php
