<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Submit</title>
    <include href="includes/header.html"></include>
</head>
<body>
<include href="includes/navBar.html"></include>

<div class="container card rounded m-3">

    <div class="row m-3"> <!-- Header and instructions paragraph-->
        <div class="col-1-1">
            <h2>Submit a new Recipe</h2>
            <p>Use the sections below to add your ingredients and directions.</p>
            <p>When your recipe is complete, give it a name and go ahead and submit it.</p>
        </div>
    </div>

    <!-- Add Ingredients and display-->
    <div class="form-group">
        <label for="ingredient">Ingredient:</label>
        <input id="ingredient" type="text" name="Inglist">
        <button id="btnIng">Add an ingredient</button>
    </div>
    <div class="col-2-3">
        <h5>Ingredient List</h5>
        <ul id="ingList"></ul>
    </div>
    <span class="err">
        <check if="{{ isset(@errors['ingredients']) }}">
            <p>{{ @errors['ingredients'] }}</p>
        </check>
    </span>

    <!-- Add Directions and display-->
    <div class="form-group">
        <label for="direction">Directions:</label>
        <input id="direction" type="text" name="Dirlist">
        <button id="btnDir">Add directions</button>
    </div>
    <div class="col-2-3">
        <h5>Direction List</h5>
        <ul id="dirList"></ul>
    </div>
    <span class="err">
        <check if="{{ isset(@errors['directions']) }}">
            <p>{{ @errors['directions'] }}</p>
        </check>
    </span>


    <form class="form-group" id="recipe" action="#" method="post">

    <div class="row m-1">
        <div class="col-7">
            <fieldset class="form-group">

                <!-- get recipe name -->
                <div class="form-group">
                    <label for="recipeName">Recipe Name:</label>
                    <input type="text" class="form-control" id="recipeName" name="recipeName" placeholder="Recipe Name"
                           value="<check if='{{ !empty(@selectedName) }}'>{{ @selectedName }}</check>">
                    <span class="err">
                        <check if="{{ isset(@errors['name']) }}">
                            <p>{{ @errors['name'] }}</p>
                        </check>
                    </span>
                </div>

                <!-- get description -->
                <div>
                    <label for="description">Description:</label>
                    <textarea type="text" class="form-control" id="description" name="description" placeholder="Description"><check if='{{ !empty(@selectedDescription) }}'>{{ @selectedDescription }}</check></textarea>
                    <span class="err">
                        <check if="{{ isset(@errors['description']) }}">
                            <p>{{ @errors['description'] }}</p>
                        </check>
                    </span>
                </div>


            <!-- get ingredients -->
            <div class="form-group hidden">
                <!-- <h2>Add Ingredients</h2>-->
                <!-- <h3>One ingredient per line</h3>-->
                <!-- <label for="ingredients">Ingredients:</label>-->
                <input type="text" class="form-control hidden" id="ingredients" name="ingredients" placeholder="Ingredient">
            </div>

            <!-- get directions -->
            <div class="form-group hidden">
                <!-- <h2>Add Directions</h2>-->
                <!-- <h3>One direction per line</h3>-->
                <!-- <label for="directions">Directions:</label>-->
                <input type="text" class="form-control hidden" id="directions" name="directions" placeholder="Directions">
            </div>

            </fieldset>
        </div>
    </div>
        <button id="btnSubmit" class="btn-primary rounded">Submit Recipe</button>
    </form>

</div>

<include href="includes/footer.html"></include>
<script src="js/recipe.js"></script>
</body>
</html>