<!--
  Lewis Scott
  5/17/20
  filename https://lscott.greenriverdev.com/328/recipes/views/submitRecipe.html
  Submit Recipe page
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Submit</title>
    <include href="includes/header.html"></include>
</head>
<body>
<include href="includes/navBar.html"></include>

<div class="container card rounded m-3">

    <div class="row m-3"> <!-- Header and instructions paragraph-->
        <div class="col-1-1">
            <h2>Submit a new Recipe</h2>
            <p>Use the sections below to add your ingredients and directions.  The ingredients
            and directions will be displayed in a list when you click the buttons.</p>
            <p>When your recipe is complete, give it a name and go ahead and submit it.</p>
        </div>
    </div>

    <!-- Add Ingredients and display-->
    <div class="form-group">
        <label for="ingredient">Ingredient:</label>
        <input id="ingredient" type="text" name="Inglist">
        <button id="btnIng">Add an ingredient</button>
        <br>
        <span class="err" id="errIng"></span>
        <span>
            <check if="{{ isset(@errors['ingredients']) }}">
                <p>{{ @errors['ingredients'] }}</p>
            </check>
        </span>
    </div>
    <div class="col-2-3">
        <h5>Ingredient List</h5>
        <ul id="ingList"></ul>
    </div>


    <!-- Add Directions and display-->
    <div class="form-group">
        <label for="direction">Directions:</label>
        <input id="direction" type="text" name="Dirlist">
        <button id="btnDir">Add directions</button>
        <br>
        <span class="err" id="errDir"></span>
        <span>
            <check if="{{ isset(@errors['directions']) }}">
                <p>{{ @errors['directions'] }}</p>
            </check>
        </span>
    </div>
    <div class="col-2-3">
        <h5>Direction List</h5>
        <ul id="dirList"></ul>
    </div>


    <form class="form-group" id="recipe" action="#" method="post">

    <div class="row m-1">
        <div class="col-7">
            <fieldset class="form-group">

                <!-- get recipe name -->
                <div class="form-group">
                    <label for="recipeName">Recipe Name:</label>
                    <input type="text" class="form-control" id="recipeName" name="recipeName" placeholder="Recipe Name"
                           value="<check if='{{ !empty(@selectedName) }}'>{{ @selectedName }}</check>">
                    <span class="err" id="errName"></span>
                    <span>
                        <check if="{{ isset(@errors['name']) }}">
                            <p>{{ @errors['name'] }}</p>
                        </check>
                    </span>
                </div>

                <!-- get description -->
                <div>
                    <label for="description">Description:</label>
                    <textarea type="text" class="form-control" id="description" name="description" placeholder="Description"><check if='{{ !empty(@selectedDescription) }}'>{{ @selectedDescription }}</check></textarea>
                    <span class="err" id="errDesc"></span>
                    <span>
                        <check if="{{ isset(@errors['description']) }}">
                            <p>{{ @errors['description'] }}</p>
                        </check>
                    </span>
                </div>

            <!-- ingredients hidden form field-->
            <div class="form-group hidden">
                <input type="text" class="form-control hidden" id="ingredients" name="ingredients" placeholder="Ingredient">
            </div>

            <!-- directions hidden form field-->
            <div class="form-group hidden">
                <input type="text" class="form-control hidden" id="directions" name="directions" placeholder="Directions">
            </div>

            </fieldset>
        </div>
    </div>
        <button id="btnSubmit" class="btn-primary rounded">Submit Recipe</button>
    </form>

</div>

<include href="includes/footer.html"></include>
<script src="js/recipe.js"></script>
<script src="js/clientSideValidation.js"></script>
</body>
</html>