<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Submit</title>
    <include href="includes/header.html"></include>
</head>
<body>
<include href="includes/navBar.html"></include>

<div class="container card rounded m-3">

    <div class="row m-3"> <!-- Header and instructions paragraph-->
        <div class="col-1-1">
            <h2>Submit a new Recipe</h2>
            <p>Use the sections below to add your ingredients and directions.</p>
            <p>When your recipe is complete, give it a name and go ahead and submit it.</p>
        </div>
    </div>

    <form class="form-group" id="recipe" action="#" method="post">

    <div class="row m-1">
        <div class="col-7">
            <fieldset class="form-group">

                <!-- get recipe name -->
                <div class="form-group">
                    <h3>Add Recipe name</h3>
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Recipe Name"
                           value="<check if='{{ !empty(@selectedName) }}'>{{ @selectedName }}</check>">
                    <span class="err">
                        <check if="{{ isset(@errors['name']) }}">
                            <p>{{ @errors['name'] }}</p>
                        </check>
                    </span>
                </div>

                <!-- get ingredients -->
                <div class="form-group">
                    <h3>Add Ingredients</h3>
                    <p>One ingredient per line</p>
                    <label for="ingredients">Ingredients:</label>
                    <textarea type="text" class="form-control" id="ingredients"name="ingredients" placeholder="Ingredient"><check if='{{ !empty(@selectedIngredients) }}'>{{ @selectedIngredients }}</check></textarea>
                    <span class="err">
                        <check if="{{ isset(@errors['ingredients']) }}">
                            <p>{{ @errors['ingredients'] }}</p>
                        </check>
                    </span>
                </div>

                <!-- get directions -->
                <div class="form-group">
                    <h3>Add Directions</h3>
                    <p>One direction per line</p>
                    <label for="directions">Directions:</label>
                    <textarea type="text" class="form-control" id="directions"name="directions" placeholder="Directions"><check if='{{ !empty(@selectedDirections) }}'>{{ @selectedDirections }}</check></textarea>
                    <span class="err">
                        <check if="{{ isset(@errors['directions']) }}">
                            <p>{{ @errors['directions'] }}</p>
                        </check>
                    </span>
                </div>

                <!-- get description -->
                <div class="form-group">
                    <h3>Add Description</h3>
                    <label for="description">Ingredients:</label>
                    <textarea type="text" class="form-control" id="description"name="description" placeholder="Description"><check if='{{ !empty(@selectedDescription) }}'>{{ @selectedDescription }}</check></textarea>
                    <span class="err">
                        <check if="{{ isset(@errors['description']) }}">
                            <p>{{ @errors['description'] }}</p>
                        </check>
                    </span>
                </div>

            </fieldset>
        </div>
    </div>
        <button id="btnIng" type="submit" class="btn-primary rounded">Submit Recipe</button>
    </form>

</div>

<include href="includes/footer.html"></include>
<script src="js/recipe.js"></script>
</body>
</html>